# Виртуальное окружение
.venv/
env/
venv/

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Логи и временные файлы
*.log
*.tmp
*.swp

# Сборка и дистрибутивы
dist/
build/
*.egg-info/

# IDE и редакторы
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Секреты и конфигурации
.env
*.secret
